<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44693941662-3t4c5l7ul9vi47ia94p2rr5kd70adhba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44693941662-3t4c5l7ul9vi47ia94p2rr5kd70adhba</string>
	<key>API_KEY</key>
	<string>AIzaSyBLCn8wQ7FIV1NEJgifYU53blYtntB8DBk</string>
	<key>GCM_SENDER_ID</key>
	<string>44693941662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.eosChatting</string>
	<key>PROJECT_ID</key>
	<string>eos-chatting-48ee2</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-chatting-48ee2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44693941662:ios:8205448442ccc85f85fa8f</string>
</dict>
</plist>